Fields0.h5
ParticleBinning0.h5
profil.txt
scalars.txt
/Scratch/ball/ball_bottle/saved_results/ParticleBinning0.h5
/Scratch/ball/ball_bottle/saved_results/patch_load.txt
/Scratch/ball/ball_bottle/saved_results/profil.txt
/Scratch/ball/ball_bottle/saved_results/scalars.txt
/Scratch/ball/ball_bottle/ParticleBinning0.h5
/Scratch/ball/ball_bottle/patch_load.txt
/Scratch/ball/ball_bottle/profil.txt
/Scratch/ball/ball_bottle/scalars.txt
/Scratch/ball/ball_bottle/ball_no_field/ParticleBinning0.h5
/Scratch/ball/ball_bottle/ball_no_field/patch_load.txt
/Scratch/ball/ball_bottle/ball_no_field/profil.txt
/Scratch/ball/ball_bottle/ball_no_field/scalars.txt
/Scratch/ball/ball_uniform_filed/ParticleBinning0.h5
/Scratch/ball/ball_uniform_filed/ParticleBinning1.h5
/Scratch/ball/ball_uniform_filed/ParticleBinning2.h5
/Scratch/ball/ball_uniform_filed/patch_load.txt
/Scratch/ball/ball_uniform_filed/Probes0.h5
/Scratch/ball/ball_uniform_filed/profil.txt
/Scratch/ball/ball_uniform_filed/scaras.txt
